.mainmenu{
    background-color: #2C3E50;
    padding:30px 0 30px 0;
}

.starttext{
    text-decoration: none;
    color: white;
    font-size: 25px;
}

.menutext{
    color: white;
    font-size: 15px;
    margin-right: 20px;
}


.profilebg{
    background-color: #1ABC9C;
    padding:60px 0 40px 0;
}

#profilepic{
    max-width: 250px;
}

#title{
    font-size: 60px;
    color: white;
    padding-top: 30px;
}

.starmargin{
    margin: 30px;
}

.line::before, .line::after{
    content: '';
    display: inline-block;
    background-color: white;
    height: 4px;
    width: 100px;
    margin:0 15px 8px 15px;
    border-radius: 5px;
}

.star-font-awe{
    color: white;
    font-size: 30px;
}

#second-title{
    margin-top: 15%;
    color: #2C3E50;
    font-size: 45px;

}

.star-black{
    color: #2C3E50;
    font-size: 30px;
}

.blackline::before, .blackline::after{
    content: '';
    display: inline-block;
    background-color: #2C3E50;
    height: 4px;
    width: 100px;
    margin:0 15px 8px 15px;
    border-radius: 5px;
}

.img-size{
    width: 30%;
    display: inline-block;
    margin-left: 25px;
    margin-bottom: 25px;
}
